# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'context-menu':
#   '.workspace':
#       'Send selection to Modo': 'modo:run'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'modo'
      'submenu': [
        { 'label': 'Toggle', 'command': 'modo:toggle' }
        { 'label': 'Run', 'command': 'modo:run' }
      ]
    ]
  }
]
